
@{
    ViewBag.Title = "Đặt hàng thành công";
}


<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/home">Trang chủ</a></li>
                    <li class="active"><a href="/gio-hang"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12" id="load_data">
                    <h2>Bạn đã đặt hàng thành công</h2>
                    <h4>Xin hãy chờ đợi để chúng tôi xác nhận đơn hàng</h4>
                    <h4>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h4>
                    <p class="red_button shop_now_button">
                        @Html.ActionLink("Về trang chủ", "Index", "Home")
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
}

