@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
</style>

<div class="container product_section_container">
    <div class="row">
        <div class="breadcrumbs d-flex flex-row align-items-center">
            <ul>
                <li><a href="/">Trang chủ</a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>

        </div>
    </div>
</div>


