@model DoAnWebBanCayOnline.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
    Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
}
<link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" />
<div class="card-body login-card-body">
    <p class="login-box-msg">Nhập email của bạn</p>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Gửi" />
            </div>
        </div>
    }
</div>
